*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared styles */

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    background-color: #FD6E0A;
    color: #fff;
    padding: 18px 23px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}

.logo h2{
    font-size: 40px;

}
.coler-orange{
    color: #FD6E0A;
    font-weight: 900px;
}

.section-heading{
    max-width: 827px;
    text-align: center;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;

}
.section-heading p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;


}


/* main style */

header{
    background-color: #FFF8F3;
    background: url("../images/developer.png") , url("../images/header_bg.png") , #FFF8F3;
    background-position: top left , bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
    
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}


#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;    

}
#banner .banner-content{
    max-width: 585px;

}
#banner .banner-content h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;

}
#banner .banner-content h1{
    font-size: 80px;
    color: #181818;
    font-weight: 900;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;

}
#banner .banner-image img{
    max-width: 585px;
    height: 676px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
     font-size: 20px;
    color: #757575;
    line-height: 30px;
}
.about-info .info-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}
