*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared styles */

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    background-color: #FD6E0A;
    color: #fff;
    padding: 18px 23px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}

.logo h2{
    font-size: 40px;

}
.coler-orange{
    color: #FD6E0A;
    font-weight: 900px;
}

/* main style */

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
    
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}